<form [formGroup]="addArtistForm" class="flex flex-col flex-auto p-6 sm:p-8">
  <!-- Other personal information fields -->

  <div class="w-full sm:w-1/2 flex flex-col sm:flex-row">
    <div class="w-full sm:w-1/2">
      <label for="firstName">First Name*</label>
      <input type="text" id="firstName" formControlName="firstName" required minlength="3">
      <div *ngIf="addArtistForm.get('firstName')?.invalid && addArtistForm.get('firstName')?.touched">
        <p class="error-message">First Name is required.</p>
      </div>
    </div>
    <div class="w-full sm:w-1/2 sm:ml-2">
      <label for="lastName">Last Name*</label>
      <input type="text" id="lastName" formControlName="lastName" required minlength="3">
      <div *ngIf="addArtistForm.get('lastName')?.invalid && addArtistForm.get('lastName')?.touched">
        <p class="error-message">Last Name is required.</p>
      </div>
    </div>
  </div>

  <div class="w-full sm:w-1/2 flex flex-col sm:flex-row">
    <div class="w-full sm:w-1/2">
      <label for="dateOfBirth">Date of Birth*</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" required>
      <div *ngIf="addArtistForm.get('dateOfBirth')?.invalid && addArtistForm.get('dateOfBirth')?.touched">
        <p class="error-message">Date of Birth is required and the artist must be at least 25 years old.</p>
      </div>
    </div>
    <div class="w-full sm:w-1/2 sm:ml-2">
      <label for="email">Email*</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="addArtistForm.get('email')?.invalid && addArtistForm.get('email')?.touched">
        <p class="error-message">Please enter a valid email address.</p>
      </div>
    </div>
  </div>
  <div class="w-full sm:w-1/2 flex flex-col sm:flex-row">
    <div class="w-full sm:w-1/2">
      <label for="phoneNumber">Phone Number*</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" required  >
      <div *ngIf="addArtistForm.get('phoneNumber')?.invalid && addArtistForm.get('phoneNumber')?.touched">
        <p class="error-message">Please enter a valid Lebanese phone number like 70441977.</p>
      </div>
    </div>

    <div class="w-full sm:w-1/2 sm:ml-2">
      <label for="profilePicture">Profile Picture*</label>
      <input type="file" id="profilePicture" formControlName="profilePicture" required>
      <div *ngIf="addArtistForm.get('profilePicture')?.invalid && addArtistForm.get('profilePicture')?.touched">
        <p class="error-message">Profile Picture is required.</p>
      </div>
    </div>
  </div>
  <div class="w-full sm:w-1/2 flex flex-col sm:flex-row">
    <div class="w-full sm:w-1/2">
      <label for="stageName">Stage Name</label>
      <input type="text" id="stageName" formControlName="stageName">
    </div>
    <div class="w-full sm:w-1/2 sm:ml-2">
      <label for="startingDate">Starting Date</label>
      <input type="date" id="startingDate" formControlName="startingDate">
    </div>
  </div>


  <div class="w-full sm:w-1/2">
    <label for="artistBackstory">Artist Backstory</label>
    <textarea id="artistBackstory" formControlName="artistBackstory"></textarea>
  </div>







  <hr>

  <h2>Albums</h2>
  <div formArrayName="albums" class="ml-10">
    <div *ngFor="let album of albums.controls; let i = index">
      <div [formGroupName]="i">
        <div class="w-full sm:w-1/2 flex flex-col sm:flex-row">
          <div class="w-full sm:w-1/2">
            <label for="albumName">Album Name</label>
            <input type="text" id="albumName" formControlName="name">
          </div>
          <div class="w-full sm:w-1/2 sm:ml-2">
            <label for="albumDate">Date</label>
            <input type="date" id="albumDate" formControlName="date">
          </div>
        </div>
        <!-- Songs -->
        <h3>Songs</h3>

        <div formArrayName="songs" *ngIf="album" class="ml-10">
          <div *ngFor="let song of songs(i).controls; let j = index">
            <div [formGroupName]="j" class="w-full sm:w-1/2 flex flex-col sm:flex-row">
              <div class="w-full sm:w-1/3">
                <label for="songName">Song Name</label>
                <input type="text" id="songName" formControlName="name">
              </div>
              <div class="w-full sm:w-1/3 sm:ml-2">
                <label for="songDuration">Duration</label>
                <input type="text" id="songDuration" formControlName="duration">
              </div>
              <div class="w-full sm:w-1/3 mt-6 ml-2">

                <button class="order-first sm:order-last w-full sm:mt-0 " mat-flat-button (click)="removeSong(i, j)"
                  [color]="'black'">
                  <span class="ml-2">Remove Song</span>
                </button>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-3">
            <button class="order-first sm:order-last w-1/6 mt-4 sm:mt-0" mat-flat-button (click)="addSong(i)"
              [color]="'black'">
              <span class="ml-2">Add Song</span>
            </button>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <button class="order-first sm:order-last w-1/6 mt-4 sm:mt-0" mat-flat-button (click)="removeAlbum(i)"
            [color]="'black'">
            <span class="ml-2">Remove Album</span>
          </button>
        </div>


      </div>
    </div>
    <div class="mt-2 mb-3">
      <button class="order-first sm:order-last w-1/6 mt-4 sm:mt-0" mat-flat-button (click)="addAlbum()"
        [color]="'black'">
        <span class="ml-2">Add Album</span>
      </button>
    </div>
  </div>


  <button class="order-first sm:order-last w-full sm:w-1/2 mt-4 sm:mt-0" mat-flat-button (click)="submitForm()"
    [color]="'black'">
    <span class="ml-2">Submit</span>
  </button>
</form>