<div class="flex flex-auto overflow-hidden">
    <div class="flex flex-col flex-auto sm:mb-4 overflow-hidden overflow-y-auto">
        <form class="flex flex-col flex-auto p-6 sm:p-8" [formGroup]="artistSearchForm">

            <!-- <app-drop-down [optionValue]=" 'name' " [optionName]=" 'name' " [options]="includeExternal"
                class="w-full pr-2" [label]=" 'Include External' " [control]=" 'includeExternal' "
                [form]="artistSearchForm">
            </app-drop-down> -->

       
                <app-input-field class="w-1/4" [label]=" 'market' " [control]=" 'market' " [form]="artistSearchForm"
                    [type]=" 'text' ">
                </app-input-field>
                <app-input-field class="w-1/4" [label]=" 'q' " [control]=" 'q' " [form]="artistSearchForm"
                    [type]=" 'text' ">
                </app-input-field>
        </form>
    </div>
</div>
<div class="flex flex-col sm:flex-row sm:items-center justify-end  mr-20">

    <button class="order-first sm:order-last" mat-flat-button (click)="search()" [disabled]="artistSearchForm.disabled"
        [color]="'primary'">
        <span class="ml-2" *ngIf="!artistSearchForm.disabled">Search</span>
    </button>
</div>